<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Party Brasil</title>
</head>
<body>
    <h1>Campus Party Brasil</h1>

    <img src="https://yt3.googleusercontent.com/KsGWYn8oRjRWKOff3IcO1VjTPF1UfwCxyC0uJcglvaiI48xnd7nB4KrFFPtMScpQ2l_vjedOEw=s900-c-k-c0x00ffffff-no-rj" alt="" width="35%">

    <h2>Local:</h2>
    <p> São Paulo.</p>
    <h2>Organizadores: </h2>
    <p>Campus Party.</p>
    <h2>Regras:</h2>
    <p>Os participantes devem se increver e adquirir os ingressos e seguir as regras de comportamento e segurança do local.</p>
    <h2>Prêmios: </h2>
    <p>Em algumas edições, a Campus Party oferece prêmios para competições de hackathons, desafios de inovação e startups</p>
    <h2>Lista de palestrantes: </h2>
    <p>A lista de palestrantes varia a cada ano, incluindo geralmente especialistas em tecnologia, empreendedores, e líderes de inovação</p>
    <h2>Detalhes de palestrantes passados: </h2>
    <h2>
        Marissa Mayer: 
    </h2>
    <p>Ex-CEO do Yahoo e ex-vice-presidente do Google.</p>
    <img src="https://cdn.britannica.com/21/233521-050-7CC46A98/American-software-engineer-businesswoman-Marissa-Mayer-2020.jpg" alt="" width="10%">
    <h2>
        Jeffrey Sachs: 
    </h2>
    <p>Economista e diretor do Centro para o Desenvolvimento Sustentável da Universidade de Columbia, especialista em desenvolvimento sustentavel e políticas públicas.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqhOQfJ-C59NVVy7x23ngw0qM1avkfhjYFuQ&s" alt="" width="10%">
    <h2>
        Sundar Pichai: 
    </h2>
    <p>CEO do Google, que discutiu temas relacionados a à inovação em tecnologia e estratégias da empresa.</p>
    <img src="https://s7d1.scene7.com/is/image/wbcollab/sundar_pichai_google_ceo-1?qlt=90&fmt=webp&resMode=sharp2" alt="" width="10%">

</body>
</html>