<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Good Brasil</title>
</head>
<body>
    <h1>Social Good Brasil</h1>
    <img src="https://storage.googleapis.com/atados-v3/user-uploaded/images/0d3c58f0-d37f-4396-9c2b-cc78a5692a6e.png" alt="" width="30%">

    <h2>Local:</h2>
    <p> O Social Good Brasil é realizado em diferentes cidades, com edições passadas ocorrendo em São Paulo e outras grandes cidades brasileiras.</p>

    <h2>Organizadores: </h2>
    <p>Social Good Brasil.</p>

    <h2>Regras:</h2>
    <p>Os participantes devem se increver e adquirir os ingressos e seguir as regras de comportamento e segurança do local.</p>

    <h2>Prêmios: </h2>
    <p>O evento costuma oferecer prêmios para iniciativas e projetos inovadores com impacto social positivo. Prêmios podem incluir financiamento, mentorias e visibilidade. </h2>

    <h2>Lista de palestrantes</h2>
    <p>Os palestrantes são geralmente especialistas em impacto social, inovação e tecnologia. Exemplos incluem líderes de ONGs, empreendedores sociais e acadêmicos. Informações sobre os palestrantes são atualizadas no site oficial do evento.</p>

    <h2>Detalhes de palestrantes passados: </h2>
    <h2>Nathália Oliveira</h2>
    <p> Nathália Oliveira é uma das fundadoras do Social Good Brasil e atua em várias iniciativas para promover o uso de tecnologia e inovação para o bem social. Ela é uma especialista em criação de redes e colaboração para o impacto social positivo.</p>
    <img src="https://media.licdn.com/dms/image/D4D03AQHDWRYigUm5ZQ/profile-displayphoto-shrink_200_200/0/1692048776155?e=2147483647&v=beta&t=_ccUafYvMKxDwH6bJmFTGIfRaQEILUs5m7Dhie2pnkI" alt="" width="10%">
    
    <h2>Raquel Doniseti</h2>
    <p>Raquel Doniseti lidera iniciativas de impacto social na Microsoft Brasil, promovendo a inclusão digital e o uso de tecnologia para resolver problemas sociais. Ela é uma defensora de como a tecnologia pode ser usada para promover mudanças positivas na sociedade.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI7VRyAYWNn-0UGch8uD6V8Ullhf3XVzfG6Q&s" alt="" width="10%">

    <h2>Eduardo Lyra</h2>
    <p>Eduardo Lyra é o fundador do Gerando Falcões, uma organização social que atua em comunidades periféricas, oferecendo educação, esportes e desenvolvimento social. Ele é conhecido por seu trabalho em transformar a vida de jovens e famílias em situação de vulnerabilidade.</p>
    <img src="https://s3-sa-east-1.amazonaws.com/basesa/palestrantes/9f068983-2d70-4f19-995f-7ea2adbd3379/WhatsApp%20Image%202022-07-05%20at%2012.01.21.jpeg" alt="" width="10%">

    
</body>
</html>